<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown">
            <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" aria-expanded="false">
                <a href="/feed"><img class="bi me-2" src="./img/people-arrows-solid.svg" alt="" width="40" height="32"></a>
            </a>
        </div>

        <div class="d-flex align-items-center">
            <form class="w-100 me-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="./img/person-circle.svg" alt="User" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li class="dropdown-item">Profile</li>
                    <li class="dropdown-item">Settings</li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item" id="logoutBtn">Sign out</li>
                </ul>
            </div>
        </div>
    </div>
</header>
