<div class="custom-success mb-4" style="display: none;">
    <button id="closeMessage" type="button" class="btn btn-lg alert-success">
        Message successfully posted!&nbsp;
        <i class="bi bi-x-circle-fill"></i>
    </button>
</div>
