<main>
    {{> loggedInNavBar}}
    <div class="container-fluid pb-3 px-4">
        {{> postSuccess}}
        {{!-- Post Modal --}}
        <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="postModalLabel">Create Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <textarea id="postMessage" class="form-control" aria-label="With textarea" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="postBtn" type="button" class="btn btn-primary px-4">Post</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Update Modal --}}
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <textarea id="updateMessage" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="updateBtn" type="button" class="btn btn-primary px-4">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 justify-content-center">
            <div class="bg-light border rounded-3 pt-3">
                <!-- Button trigger modal -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#postModal">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
                {{> posts}}
            </div>
        </div>
    </div>
</main>
