<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
</svg>

<main>
    {{> loggedInNavBar}}
    <div class="container-fluid pb-3 px-4">
        {{> postSuccess}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus-lg"></i> Create Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <textarea id="postMessage" class="form-control" aria-label="With textarea" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="postBtn" type="button" class="btn btn-primary px-4">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
            <div class="bg-light border rounded-3">
                {{!-- <br><br><br><br><br><br><br><br><br><br> --}}
                {{> posts}}
            </div>
            <div class="bg-light border rounded-3">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</main>
