<link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" />

<main class="form-signin text-center">
    <form>
        <img class="mb-4" src="./img/people-arrows-solid.svg" alt="" width="72" height="57">
        <h1 class="h3 fw-normal">Welcome to the <strong>Social Media App</strong>!</h1>
        <h1 class="h3 mb-4 fw-normal">Please sign in</h1>

        <a id="fbBtn" class="w-100 btn btn-lg" type="button" href="/auth/facebook"><i class="bi bi-facebook"></i>&nbsp;&nbsp;Log In With Facebook</a>

        <div class="my-3 row">
            <div class="col-5 mb-2 hr"></div>
            <div class="col">or</div>
            <div class="col-5 mb-2 hr"></div>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
            <label for="emailField">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordField" placeholder="Password">
            <label for="passwordField">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="signInBtn">Sign in</button>
        <p class="mt-5 mb-1 text-muted">Don't have an account?</p>
        <a href="/signup">Sign up</div>
    </form>
</main>
