<div class="container py-5">
    <main class="text-center">
        <div class="row g-5 justify-content-center">
            <div class="col-md-5">
                <div class="py-4 row">
                    <img class="d-block mx-auto mb-4" src="./img/people-arrows-solid.svg" alt="" width="72" height="57">
                    <h2>Social Media App</h2>
                    <p class="lead">Sign up to see comments and posts from you friends by filling out the following fields.</p>
                </div>
                <form>
                    <div class="row g-3">
                        <div class="form-floating col-sm-6">
                            <input id="firstNameField" type="text" class="form-control" placeholder="First name">
                            <label for="firstNameField">First name</label>
                        </div>

                        <div class="form-floating col-sm-6">
                            <input id="lastNameField" type="text" class="form-control" placeholder="Last name">
                            <label for="lastNameField">Last name</label>
                        </div>

                        <div class="form-floating col-12">
                            <input id="usernameField" type="text" class="form-control" placeholder="Username">
                            <label for="usernameField">Username</label>
                        </div>

                        <div class="form-floating col-12">
                            <input id="emailField" type="email" class="form-control" placeholder="name@example.com">
                            <label for="emailField">Email address</label>
                        </div>

                        <div class="form-floating col-12">
                            <input id="passwordField" type="password" class="form-control" placeholder="Password">
                            <label for="passwordField">Password</label>
                        </div>

                        <div class="form-floating col-12">
                            <input id="confPasswordField" type="password" class="form-control" placeholder="Confirm Password">
                            <label for="confPasswordField">Confirm Password</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button id="signUpBtn" class="w-100 btn btn-primary btn-lg" type="submit">Sign up</button>

                    <p class="mt-5 mb-1 text-muted">Already have an account?</p>
                    <a href="/login">Login</>
                </form>
            </div>
        </div>
    </main>
</div>
