<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">

<div class="container py-5">
    <main>
        <div class="row g-5 justify-content-center">
            <div class="col-md-5">
                <div class="py-4 text-center row">
                    <img class="d-block mx-auto mb-4" src="./img/people-arrows-solid.svg" alt="" width="72" height="57">
                    <h2>Social Media App</h2>
                    <p class="lead">Sign up to see comments and posts from you friends by filling out the following fields.</p>
                </div>
                <form>
                    <div class="row g-3">
                        <div class="form-floating col-sm-6">
                            <input type="text" class="form-control" id="floatingInput" placeholder="First name">
                            <label for="floatingInput">First name</label>
                        </div>

                        <div class="form-floating col-sm-6">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last name">
                            <label for="floatingInput">Last name</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Username">
                            <label for="floatingInput">Username</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>

                        <div class="form-floating col-12">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </main>
</div>
