<link href="https://getbootstrap.com/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">

<main class="form-signin text-center">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="firstNameField" placeholder="First Name">
            <label for="firstNameField">First Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="lastNameField" placeholder="Last Name">
            <label for="lastNameField">Last Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="usernameField" placeholder="Username">
            <label for="usernameField">Username</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
            <label for="emailField">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordField" placeholder="Password">
            <label for="passwordField">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="signUpBtn">Sign up</button>
    </form>
</main>
